Screen {
    background: $surface;
}

#titulo {
    content-align: center middle;
    text-style: bold;
    color: $accent;
    background: $panel;
    height: 3;
    border: heavy $accent;
    margin: 1 2;
}

#tabla_resumen {
    margin: 1 2;
    border: round $primary;
    height: auto;
}

TabbedContent {
    margin: 1 2;
}

Tab {
    text-style: bold;
}

DataTable > .datatable--header {
    background: $primary;
    color: $text;
    text-style: bold;
}

DataTable > .datatable--cursor {
    background: $accent;
    color: $text;
    text-style: bold;
}
ModalCrear, ModalEditar, ModalDetalles {
    align: center middle;
}

#modal_crear_box, #modal_editar_box {
    width: 60;
    height: auto;
    border: heavy $accent;
    background: $panel;
    padding: 1 2;
}

#modal_detalles_box {
    width: 80;
    height: auto;
    border: heavy $accent;
    background: $panel;
    padding: 1 2;
    align: center middle;
}

#titulo_detalles_principal {
    content-align: center middle;
    text-style: bold;
    color: $accent;
    width: 100%;
    margin-bottom: 1;
}

.titulo-seccion {
    content-align: center middle;
    text-style: bold;
    color: $primary;
    width: 100%;
}

.detalle-texto {
    content-align: center middle;
    width: 100%;
}
